{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add Cheese{% endblock %}

{% block content %}
<h1>Add Cheese</h1>
<form method="post" action="{% url 'cheeses:add' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}